// Platforms

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator

// Language version

SWIFT_VERSION = 5.5

// Deployment target

IPHONEOS_DEPLOYMENT_TARGET = 13.2
MACOSX_DEPLOYMENT_TARGET = 10.15.2
TVOS_DEPLOYMENT_TARGET = 13.2
WATCHOS_DEPLOYMENT_TARGET = 6.0

// Compiler & Linker options

COPY_PHASE_STRIP = NO
LD_DYLIB_INSTALL_NAME = @rpath
CLANG_ENABLE_MODULES = YES
